extends layout

block layout-content
    div.View
        h1 Money-Track!
        div
            div
                h3 Easy to understand how exactly you waste money
            span Access in early version
        div
            a(href="/banks") Just dive in